

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #155dbe, #4ea0d3, #2b6cb0);
  background-size: 200% 200%;
  animation: gradientShift 8s ease infinite;
}

/* Smooth animated gradient */
@keyframes gradientShift {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

.home-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  width: 750px;
  padding: 40px;
  text-align: center;

  background: rgba(255, 255, 255, 0.18);
  border-radius: 22px;
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border: 1px solid rgba(255, 255, 255, 0.28);
  box-shadow: 
       0 15px 40px rgba(0, 0, 0, 0.25),
       0 0 40px rgba(255, 255, 255, 0.15) inset;

  animation: slideUp 0.9s ease-out;
}



.title {
  margin: 0;
  font-size: 34px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.5px;
}

.subtitle {
  color: #f3f4f8;
  font-size: 16px;
  margin-bottom: 28px;
  opacity: 0.95;
}



.error {
  background: rgba(223, 191, 11, 0.281);
  color: #ff1900;
  font-size: 20px;
  padding: 12px 18px;
  border-radius: 12px;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
  animation: fadeError 0.4s ease-in-out;
  border: 1px solid rgba(255, 77, 77, 0.35);
}

@keyframes fadeError {
  from { opacity: 0; transform: translateY(-6px); }
  to { opacity: 1; transform: translateY(0); }
}


.fadeIn {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.94); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes slideUp {
  from { transform: translateY(45px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}


.error ~ .aqi-card {
  background: rgba(255, 90, 90, 0.25) !important;
  border: 1px solid rgba(255, 120, 120, 0.45) !important;
  backdrop-filter: blur(14px);
  border-radius: 18px;
  padding: 20px;

  box-shadow:
    0 12px 32px rgba(255, 0, 0, 0.35),
    0 0 40px rgba(255, 110, 110, 0.22) inset;

  animation: softPulse 1.4s ease-in-out infinite;
}

/* Soft premium pulse */
@keyframes softPulse {
  0% { transform: scale(1); opacity: 0.9; }
  50% { transform: scale(1.02); opacity: 1; }
  100% { transform: scale(1); opacity: 0.9; }
}
