.aqi-card {
  width: 100%;
  max-width: 420px;
  padding: 25px;
  background: rgba(152, 145, 104, 0.564);
  backdrop-filter: blur(14px);
  border-radius: 20px;
  box-shadow: 0px 8px 25px rgba(0,0,0,0.25);
  margin: 0 auto;
  color: #fff;
  animation: fadeUp 0.5s ease;
}

/* AQI VALUE BOX */
.aqi-value {
  font-size: 32px;
  font-weight: bold;
  padding: 12px;
  margin: 15px 0;
  border-radius: 14px;
  text-align: center;
  color: white;
}

/* CARD ANIMATION */
@keyframes fadeUp {
  from { opacity: 0; transform: translateY(12px); }
  to { opacity: 1; transform: translateY(0); }
}

p {
  margin: 6px 0;
  font-size: 18px;
}
