.search-form {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-bottom: 25px;
}

.search-form input {
  width: 280px;
  padding: 14px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 17px;
  background: rgba(255, 255, 255, 0.9);
}

.search-form button {
  padding: 14px 22px;
  font-size: 16px;
  font-weight: bolder;
  background: #ffffff;
  color: #1e3c72;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease;
}

.search-form button:hover {
  background: #eaeaea;
}
